@charset "UTF-8";
*{
	margin:0;
	padding:0;
	-webkit-box-sizing:border-box;
}
li{
	list-style:none;
}
a{
	text-decoration:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
body,html{
	width:100%;
	height:100%;
	overflow:hidden;
}
input::-webkit-input-placeholder{
	color:#666;
}
input{
	color:#666;
}
.container{
	width:100%;
	height:100%;
	overflow-y:auto;
	
}
.main{
	width:80%;
	height:100%;
	margin:auto;
	padding-top:10px;
}
//按钮蓝色

$b:#5E83E1;
//按钮灰色
$c:#CCCCCC;
//?黄色
$y:#FC9542;
//√蓝色
//b:#5E83E1;
.deng{
	width:100%;
	height:45px;
	border:none;
	margin:0 auto;
	background:$c;
	border-radius:20px;
	margin-top:35px;
	text-align:center;
	color:#fff;
	font-size:16px;
	line-height:45px;
}