@import "common.scss";
*{
	-webkit-box-sizing:border-box;
}
.section{
	width:100%;
	height:100%;
}
.content{
	@extend %full;
	padding-left:10%;
	padding-right:10%;
}
.top{
	width:100%;
	height:38px;
	border:1px solid #5E83E1;
	border-radius:3px;
	margin-top:15px;
	p{
		font-size:11px;
		color:#5E83E1;
		line-height:38px;
		padding-left:20px;
		float:left;
	}
	img{
		width:22px;
		height:22px;
		float:right;
		margin-right:5%;
		margin-top:9px;
	}
}
.middle{
	width:100%;
	height:100%;
	h2{
		width:100%;
		height:28px;
		line-height:28px;
		font-size:12px;
		color:#515151;
		padding-left:3px;
		margin-top:10px;
		margin-bottom:10px;
	}
	input{
		width:100%;
		height:40px;
		border:1px solid #EEEEEE;
		border-radius:3px;
		margin-bottom:17px;
		font-size:12px;
		padding-left:15px;
		outline:none;
	}
}
.upload{
	background:#EEEEEE;
	width:100%;
	height:40px;
	border:1px solid #EEEEEE;
	border-radius:3px;
	margin-bottom:17px;
	position:relative;
	input{
		height:38px;
		width:80%;
		background:#EEEEEE;
		font-size:14px;
		padding-left:15px;
		float:left;
		outline:none;
		border:none;
	}
	.rightarrow{
		content:"";
		display:block;
		width:8px;
		height:8px;
		border-top:2px solid #9F9F9F;
		border-left:2px solid #9F9F9F;
		-webkit-transform:rotate(135deg);
		position:absolute;
		right:10px;
		bottom:14px;
	}
}
.decide{
	width:100%;
	height:49px;
	clear:both;
	#check{
		width:13px;
		height:13px;
		border-top:1px solid #9C9C9C;
		border-left:1px solid #9C9C9C;
		border-bottom:1px solid #9C9C9C;
		border-right:1px solid #9C9C9C;
		margin-top:18px;
		float:left;
		margin-left:2px;
	}
	h3{
		font-size:12px;
		color:#A2A2A2;
		margin-left:15px;
		float:left;
		line-height:49px;
		span{
			color:#94ACEB;
		}
	}
}
.submit{
	    width:100%;
	    height:45px;
	    border:none;
	    margin:0 auto;
	    background:$c;
	    border-radius:20px;
	    margin-top:35px;
	    text-align:center;
	    color:#fff;
	    font-size:16px;
	    line-height:45px;
}
#add{
	background:#fff;
	border:1px solid #5E83E1;
	input{
		background:#fff;
	}
	span{
		content:"";
		display:block;
		width:8px;
		height:8px;
		border-top:2px solid #5E83E1;
		border-left:2px solid #5E83E1;
		-webkit-transform:rotate(135deg);
		position:absolute;
		right:10px;
		bottom:14px;
	}
}
.on{
	background:#5E83E1;
	span{
		content:"";
		display:block;
		width:5px;
		height:8px;
		border-top:2px solid #fff;
		border-left:2px solid #fff;
		-webkit-transform:rotate(-135deg);
		margin-left:4px;
		margin-top:2px;
	}
}