*{
	margin:0px;
	padding:0px;
	-webkit-box-sizing:border-box;
}
@mixin full{
	width:100px;
	padding:100px;
}
@mixin pos($pos:absolute){
	position:$pos;
}
@mixin flex{
	display:flex;
	display:-webkit-flex;
}
@mixin flexTo($direction:column){
	-webkit-flex-direction:$direction;
}
@mixin flexGrow{
	-webkit-flex-grow:1;
}
html,body{
	@iclude full;
	overflow:hidden;
}


.top{
	width:100%;
	height:15px;
	background:#eeeeee;
}


.but,.but1{
	width:100%;
	height:50px;
	text-align:center;
	margin-top:40px;
	button{
		width:90%;
		height:50px;
		border-radius:25px;
		border:none;
		font-size:18px;
		background:#ccc;
		color:#fff;
	}
}

.conter{
	-webkit-flex-grow:1;
	width:80%;
	margin:20px auto;
}

.input1{
	width:100%;
	height:50px;
	line-height:50px;
	border-bottom:1px solid #eeeeee;
	color:#9c9c9c;
	@include flex;
	input{
		height:50px;
		border:none;
		outline:none;
		font-size:16px;
		width:73%;
	}
	span{
		height:50px;
		font-size:15px;
		@include flexGrow;
		font-weight:bold;
		display:inline-block;
		width:40%;
		img{
			width:70px;
			height:auto;
		}
	}
}

.footer{
	height:98px;
	background:#eeeeee;
	width:100%;
}